In [1]:
import pandas as pd

In [3]:
mesh = pd.read_excel('tbl_PROJECTS_2008.xlsx', sheet_name='tbl_PROJECTS_2008')

In [4]:
mesh.head()

,Expr1000,HSR_FINAL_YEAR,HEADING,PROJECT_ID,Unnamed: 4,Expr1000.1,HSR_FINAL_YEAR.1,HEADING.1,PROJECT_ID.1
0,2008,2008,Health Care Reform,20083363,NaN,2008.0,2009.0,NaN,20052082.0
1,2008,2008,Health Services,20083363,NaN,2008.0,2009.0,NaN,20061054.0
2,2008,2009,Biomedical Research,20042038,NaN,2008.0,2009.0,NaN,97300740.0
3,2008,2009,Medical Informatics,20051384,NaN,2008.0,2010.0,NaN,20060002.0
4,2008,2009,Ambulatory Care,20051384,NaN,2008.0,2011.0,NaN,20074065.0

In [5]:
mesh = pd.read_excel('tbl_PROJECTS_2008.xlsx', sheet_name='tbl_PROJECTS_2008')

In [6]:
mesh.head()

   Expr1000  HSR_FINAL_YEAR              HEADING  PROJECT_ID
0      2008            2008   Health Care Reform    20083363
1      2008            2008      Health Services    20083363
2      2008            2009  Biomedical Research    20042038
3      2008            2009  Medical Informatics    20051384
4      2008            2009      Ambulatory Care    20051384

In [7]:
mesh.rename(columns={'Expr1000': 'initial_year', 'HSR_FINAL_YEAR': 'final_year'},inplace=True).head()

   initial_year  final_year              HEADING  PROJECT_ID
0          2008        2008   Health Care Reform    20083363
1          2008        2008      Health Services    20083363
2          2008        2009  Biomedical Research    20042038
3          2008        2009  Medical Informatics    20051384
4          2008        2009      Ambulatory Care    20051384

In [9]:
import numpy as np

In [16]:
def tag_mesh_per_year(row):
    key_list = []
    for i in range(row['initial_year'], row['final_year']+1):
        key_list.append([row['PROJECT_ID'], i, row['HEADING']])
    return key_list

In [18]:
keys = []
for index, row in mesh.iterrows():
        keys.extend(tag_mesh_per_year(row))

KeyError: 'initial_year'